<h1>R 스스로 해보기 3</h1>
<h3>2023년 11월 1일 (수)</h3>
<hr>

<h4>세 문자열 “I”, “love”, “R”을 paste()함수를 이용하여 다음 결과가 나오는 코드 작
성</h4>

In [1]:
paste("I","love","R", sep="-")

[1] "I-love-R"

<hr>
<h4>2. paste() 함수를 이용하여 다음의 결과가 나오는 코드 작성</h4>

In [2]:
print(paste("X", 1:30, sep="."))

 [1] "X.1"  "X.2"  "X.3"  "X.4"  "X.5"  "X.6"  "X.7"  "X.8"  "X.9"  "X.10"
[11] "X.11" "X.12" "X.13" "X.14" "X.15" "X.16" "X.17" "X.18" "X.19" "X.20"
[21] "X.21" "X.22" "X.23" "X.24" "X.25" "X.26" "X.27" "X.28" "X.29" "X.30"

<hr>
<h4>3. msg <- "KokUk UniVersity NaTuraL SciEnce"의 모든 문자를 소문자로 변환</h4>

In [3]:
msg <- "KokUk UniVersity NaTuraL SciEnce"
print(tolower(msg))

[1] "kokuk university natural science"

<hr>
<h4>4. 다음은 최근 4회의 하계 올림픽이 개최된 정보가 저장된 데이터프레임이다. 데이터프레
임 olympic을 생성하는 코드</h4>

In [4]:
no <- 32:29
date <- c("20210723", "20160805", "20120727", "20080808")
place <- c("동경", "리우데자네이루", "런던", "베이징") 
olympic <- data.frame(no = no, date = date, place = place)

olympic

  no date     place
1 32 20210723 동경
2 31 20160805 리우데자네이루
3 30 20120727 런던
4 29 20080808 베이징

<hr>
<h4>5. 변수 date에서 year, month, day를 각각 추출하여 olympic의 변수로 추가 </h4>

In [5]:
olympic$year <- substr(olympic$date, 1, 4)
olympic$month <- substr(olympic$date, 5, 6)
olympic$day <- substr(olympic$date, 7, 8)

olympic

  no date     place          year month day
1 32 20210723 동경           2021 07    23
2 31 20160805 리우데자네이루 2016 08    05
3 30 20120727 런던           2012 07    27
4 29 20080808 베이징         2008 08    08

<hr>
<h4>6. 데이터프레임 mtcars의 행이름(row.names)을 변수 model에 저장
그리고 mtcars의 행이름(now.names)은 1부터 32로 지정</h4>

In [6]:
head(mtcars)

library(stringr)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [7]:
mtcars$model <- row.names(mtcars)
row.names(mtcars) <- 1:32
mtcars

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb model
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4    Mazda RX4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4    Mazda RX4 Wag
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1    Datsun 710
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1    Hornet 4 Drive
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2    Hornet Sportabout
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1    Valiant
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4    Duster 360
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2    Merc 240D
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2    Merc 230
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4    Merc 280
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4    Merc 280C
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3    Merc 450SE
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3    Merc 450SL
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3    Merc 450SLC
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4    Cadillac Fleetwood
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4    Lincoln Continental
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4    Chrysler Imperial
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1    Fiat 128
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2    Honda Civic
20 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1    Toyota Corolla
21 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1    Toyota Corona
22 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2    Dodge Challenger
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2    AMC Javelin
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4    Camaro Z28
25 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2    Pontiac Firebird
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1    Fiat X1-9
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2    Porsche 914-2
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2    Lotus Europa
29 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4    Ford Pantera L
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6    Ferrari Dino
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8    Maserati Bora
32 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2    Volvo 142E

<hr>
<h4>7. model에 대문자 “S”를 포함하고 있는 행만 검색하고 출력</h4>

In [8]:
idx <- grep("S", mtcars$model)

mtcars[idx, ]

   mpg  cyl disp  hp  drat wt   qsec  vs am gear carb model
5  18.7 8   360.0 175 3.15 3.44 17.02 0  0  3    2    Hornet Sportabout
12 16.4 8   275.8 180 3.07 4.07 17.40 0  0  3    3    Merc 450SE
13 17.3 8   275.8 180 3.07 3.73 17.60 0  0  3    3    Merc 450SL
14 15.2 8   275.8 180 3.07 3.78 18.00 0  0  3    3    Merc 450SLC

<hr>
<h4>8.  대소문자 구별없이 “S” 또는 “s”를 포함하고 있는 행을 검색하고 출력</h4>

In [9]:
idx <- grep("S", mtcars$model, ignore.case = T)

mtcars[idx, ]

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb model
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1    Datsun 710
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2    Hornet Sportabout
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4    Duster 360
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3    Merc 450SE
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3    Merc 450SL
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3    Merc 450SLC
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4    Chrysler Imperial
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2    Porsche 914-2
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2    Lotus Europa
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8    Maserati Bora

<hr>
<h4>9. 숫자로 끝나는 행을 검색하고 출력</h4>

In [10]:
idx <- grep("[0-9]$", mtcars$model)

mtcars[idx, ]

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb model
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4    Mazda RX4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1    Datsun 710
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4    Duster 360
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2    Merc 230
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4    Merc 280
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1    Fiat 128
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4    Camaro Z28
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1    Fiat X1-9
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2    Porsche 914-2

<hr>
<h4>10. 대문자 “H”로 시작하는 행을 검색하고 출력</h4>

In [11]:
idx <- grep("^H", mtcars$model)
mtcars[idx,]

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb model
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1    Hornet 4 Drive
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2    Hornet Sportabout
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2    Honda Civic

<hr>
<h4>11. 대문자 A, B, C, D, E로 시작하는 행을 검색하고 출력</h4>

In [12]:
idx <- grep("^A|^B|^C|^D|^E", mtcars$model)
mtcars[idx,]

   mpg  cyl disp hp  drat wt    qsec  vs am gear carb model
3  22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    Datsun 710
7  14.3 8   360  245 3.21 3.570 15.84 0  0  3    4    Duster 360
15 10.4 8   472  205 2.93 5.250 17.98 0  0  3    4    Cadillac Fleetwood
17 14.7 8   440  230 3.23 5.345 17.42 0  0  3    4    Chrysler Imperial
22 15.5 8   318  150 2.76 3.520 16.87 0  0  3    2    Dodge Challenger
23 15.2 8   304  150 3.15 3.435 17.30 0  0  3    2    AMC Javelin
24 13.3 8   350  245 3.73 3.840 15.41 0  0  3    4    Camaro Z28

<hr>
<h4>12. 현재의 폴더(디렉토리) 출력</h4>

In [13]:
getwd()

[1] "/home/students/cs/202121059"

<hr>
<h4>13. 현재 디렉토리에 엑셀(*.xlsx) 파일을 검색하여 출력</h4>

In [14]:
list.files(pattern="*.xlsx")

[1] "2015년 초미세먼지.xlsx"
[2] "2022년_도로교통공단_시군구별 월별 교통사고 통계.xlsx"
[3] "air_2021.xlsx"
[4] "cb.xlsx"
[5] "merge.xlsx"
[6] "newdata.xlsx"
[7] "sample.xlsx"

<hr>
<h4>14. 파일에는 3개의 시트(1분기, 2분기, 3분기)가 있다. 각각의 시트를 읽은 후 하나로 합
쳐 하나의 데이터 mise에 저장하고 데이터프레임 mise의 구조(str) 출력</h4>

In [15]:
library(readxl)
mise1 <- read_xlsx("2015년 초미세먼지.xlsx", sheet=1)
mise2 <- read_xlsx("2015년 초미세먼지.xlsx", sheet=2)
mise3 <- read_xlsx("2015년 초미세먼지.xlsx", sheet=3)

mise <- rbind(mise1, mise2, mise3)
str(mise)

tibble [1,574,914 × 9] (S3: tbl_df/tbl/data.frame)
 $ AREA : chr [1:1574914] "서울" "서울" "서울" "서울" ...
 $ Point: chr [1:1574914] "중구" "중구" "중구" "중구" ...
 $ Date : num [1:1574914] 2.02e+09 2.02e+09 2.02e+09 2.02e+09 2.02e+09 ...
 $ Year : num [1:1574914] 2015 2015 2015 2015 2015 ...
 $ Month: num [1:1574914] 1 1 1 1 1 1 1 1 1 1 ...
 $ Day  : num [1:1574914] 1 1 1 1 1 1 1 1 1 1 ...
 $ Time : num [1:1574914] 0 1 2 3 4 5 6 7 8 9 ...
 $ PM10 : num [1:1574914] 44 57 76 86 106 128 139 132 121 94 ...
 $ PM25 : num [1:1574914] 7 10 10 11 12 18 19 16 14 16 ...

<hr>
<h4>15. AREA가 서울인 데이터만 추출하여 seoul에 저장하고 Point의 빈도표 구하기(table()
이용)</h4>

In [16]:
seoul <- subset(mise, AREA == "서울")
table(seoul$Point)

           강남구          강남대로            강동구          강변북로
             5075              5081              5085              5084
           강북구            강서구          공항대로            관악구
             5066              5064              4957              5083
           광진구            구로구            금천구              길동
             5030              5085              5031              4961
       내부순환로            노원구            도봉구          도산대로
             5013              5070              5058              3968
         동대문구            동작구 동작대로 중앙차로            마포구
             5057              5025              4998              5046
         서대문구            서초구            성동구            성북구
             5064              5085              5084              5059
           송파구            신촌로            양천구          영등포구
             5055              5018              5076              5079
         영등포로            용산구            은평구              종로
             5025              5066              5069              4949
           종로구              중구            중랑구            청계천
             5075              5032              5083              5067
           청량리          한강대로            화랑로
             4958              5036              5069

<hr>
<h4>16. 서울에는 25개의 구가 있다. 위 데이터 seoul에서 25개의 구 데이터만 추출하고자 한다.</h4>

<h5>i. grep을 이용하여 seoul$Point 중에서 “구”로 끝나는 데이터의 인덱스를 idx에 저장</h5>
<h5>ii. 데이터프레임 seoul에서 위 idx의 인덱스부분만 추출하여 gu로 저장</h5>
<h5>iii. 빈도표 출력</h5>

In [17]:
idx <- grep("구$", seoul$Point)
gu <- seoul[idx,]

table(gu$Point)

  강남구   강동구   강북구   강서구   관악구   광진구   구로구   금천구
    5075     5085     5066     5064     5083     5030     5085     5031
  노원구   도봉구 동대문구   동작구   마포구 서대문구   서초구   성동구
    5070     5058     5057     5025     5046     5064     5085     5084
  성북구   송파구   양천구 영등포구   용산구   은평구   종로구     중구
    5059     5055     5076     5079     5066     5069     5075     5032
  중랑구
    5083

<hr>
<h4>17. 다음 코드를 실행하여 데이터 gu에서 각 구별 PM10의 평균 구하기</h4>

In [18]:
result <- tapply(gu$PM10, gu$Point, mean, na.rm = T)
result <- as.data.frame(round(result,2))

result

         round(result, 2)
강남구   52.38
강동구   48.20
강북구   48.24
강서구   51.03
관악구   55.78
광진구   51.88
구로구   51.60
금천구   49.72
노원구   52.52
도봉구   48.76
동대문구 49.04
동작구   47.59
마포구   52.75
서대문구 48.38
서초구   54.12
성동구   51.02
성북구   48.13
송파구   49.59
양천구   48.32
영등포구 53.87
용산구   47.45
은평구   50.30
종로구   58.17
중구     50.74
중랑구   51.65

<hr>
<h4>18. 각각의 시트를 읽어 air1, air2, …, air6에 저장한 후, rbind를 이용하여 하나로
합쳐 하나의 데이터 air에 저장하고 데이터프레임 air의 구조(str) 출력</h4>

In [ ]:
air1 <- read_xlsx("air_2021.xlsx", sheet=1)
air2 <- read_xlsx("air_2021.xlsx", sheet=2)
air3 <- read_xlsx("air_2021.xlsx", sheet=3)
air4 <- read_xlsx("air_2021.xlsx", sheet=4)
air5 <- read_xlsx("air_2021.xlsx", sheet=5)
air6 <- read_xlsx("air_2021.xlsx", sheet=6)

air <- rbind(air1, air2, air3, air4, air5, air6)
str(air)

<hr>
<h4>19. 측정소(point)의 개수를 unique() 함수와 length()를 이용하여 출력</h4>

In [ ]:
print(length(unique(air$point)))

<hr>
<h4>20. 시군구(city)가 충주시인 데이터만 추출하여 데이터 cb에 저장하고, 측정소(point)
의 빈도표 출력</h4>

In [ ]:
cb <- grep("충주", air$city)
chungju <- air[cb,]
table(chungju$point)

<hr>
<h4>21. 데이터 cb에서 각 측정소별 PM10의 평균을 구하여 출력(17번 참조)</h4>

In [ ]:
cb <- grep("충주", air$city)
chungju <- air[cb,]
result <- tapply(chungju$PM10, chungju$point, mean, na.rm = T)
result <- as.data.frame(round(result,2))

result

<hr>
<h4>22. 가거도와 같이 ‘가’로 시작하는 측정소(point)만 검색하여 데이터 ga에 저장 후 빈도
표 출력</h4>

In [ ]:
idx <- grep("^가", air$point) 
ga <- air[idx,] 

table(ga$point)

<hr>
<h4>23. 데이터 ga에서 세 변수 prov, city, point를 하나의 문자열로 합쳐 point2에 저장
하고, 다음 변수만 출력하여 확인</h4>

In [ ]:
ga$point2 <- paste(ga$prov, ga$city, ga$point)

gaprint <- data.frame(prov = ga$prov, city = ga$city, point = ga$point, PM10 = ga$PM10, point2 = ga$point2)

gaprint

<hr>
<h4>24.데이터 ga에서 측정소별(point2) PM10의 평균을 다음과 같이 출력</h4>

In [ ]:
result <- tapply(ga$PM10, ga$point2, mean, na.rm = T)
result <- as.data.frame(round(result,2))

result