<h1>R 스스로 해보기 5</h1>
<h3>2023년 11월 15일 (수)</h3>
<hr>

<h4>1. tapply()를 이용하여 기어(gear) 개수에 따른 qsec의 평균을 구하여 출력하는 코드</h4>

In [1]:
result <- tapply(mtcars$qsec, mtcars$gear, mean)

print(result)

     3      4      5
17.692 18.965 15.640

<hr>
<h4>2. 패키지 doBy의 summaryBy()를 이용하여 기어(gear) 개수에 따른 도수(빈도, length)와 qsec의 평균을 구하여 출력하는 코드</h4>

In [2]:
library(doBy)
library(dplyr)

result <- summaryBy(qsec ~ gear, data = mtcars, FUN = c(length, mean))
result

Attaching package: ‘dplyr’


The following object is masked from ‘package:doBy’:

    order_by


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  gear qsec.length qsec.mean
1 3    15          17.692
2 4    12          18.965
3 5     5          15.640

<hr>
<h4>3. 패키지 dplyr의 group_by와 summarise()를 이용하여 기어(gear) 개수에 따른 도수(빈도, n())와 qsec의 평균을 구하여 출력하는 코드</h4>

In [3]:
# a. group_by()의 결과를 grp에 저장
grp <- group_by(mtcars, gear)

# b. summarise()를 이용하여 데이터의 개수(빈도)와 qsec의 평균을 구하고, 그 이름을 각각freq, mean으로 변경
summarise(grp, freq = n(), mean = mean(qsec))

  gear freq mean
1 3    15   17.692
2 4    12   18.965
3 5     5   15.640

<hr>
<h4>4. 위 3과 같은 결과를 파이프를 이용하여 출력하는 코드</h4>

In [4]:
mtcars %>% group_by(gear) %>% summarise(freq = n(), mean = mean(qsec))

  gear freq mean
1 3    15   17.692
2 4    12   18.965
3 5     5   15.640

<hr>
<h4>※ 데이터 파일 “2022년_도로교통공단_일자별 시군구별 교통사고 건수.csv”에 대하여 다음
을 수행하시오.</h4>
<hr>
<h4>5. 다음과 같이 dplyr 패키지 함수를 이용하여 날짜를 년, 월, 일로 분리하고, 시도와 시
군구를 합쳐서 지역 변수를 생성하는 코드.</h4>

In [5]:
list.files()

[1] "202121059-정보경-exercise-5.ipynb"
[2] "202121059-정보경-무작정 따라하기-5.ipynb"
[3] "2022년_도로교통공단_일자별 시군구별 교통사고 건수.csv"
[4] "2022년_서울_일별평균대기오염도_2022.csv"
[5] "air_2021.xlsx"

In [6]:
data <- read.csv("2022년_도로교통공단_일자별 시군구별 교통사고 건수.csv")
data

      날짜     시도 시군구       사고건수 사망자수 중상자수 경상자수
1     20220101 서울 강남구       9        0        1        14
2     20220101 서울 용산구       4        0        1         3
3     20220101 서울 성동구       1        0        1         0
4     20220101 서울 동대문구     2        0        1         1
5     20220101 서울 도봉구       5        0        4         1
6     20220101 서울 은평구       3        0        1         2
7     20220101 서울 서대문구     1        0        1         1
8     20220101 서울 마포구       2        0        1         1
9     20220102 서울 강남구       3        0        0         4
10    20220101 서울 구로구       2        0        1         1
11    20220101 서울 영등포구     3        0        0         2
12    20220101 서울 동작구       2        0        1         1
13    20220101 서울 관악구       3        0        0         4
14    20220103 서울 강남구       9        0        1         8
15    20220101 서울 강동구       2        0        0         5
16    20220101 서울 송파구       7        0        4         8
17    20220101 서울 서초구       2        0        1         6
18    20220101 서울 중랑구       3        0        1         4
19    20220101 서울 노원구       6        0        0         8
20    20220101 서울 강북구       4        0        1         4
21    20220101 서울 금천구       1        0        0         0
22    20220101 부산 영도구       1        0        0         2
23    20220101 부산 부산진구     4        0        1         3
24    20220101 부산 동래구       2        0        0         3
25    20220104 서울 강남구       7        0        1         5
26    20220101 부산 해운대구     1        0        1         2
27    20220101 부산 사하구       3        0        2         1
28    20220105 서울 강남구       8        0        3         6
29    20220101 부산 수영구       3        0        1         2
30    20220101 부산 사상구       1        0        0         1
⋮     ⋮        ⋮    ⋮            ⋮        ⋮        ⋮        ⋮
57700 20221231 경남 창원시(통합) 7        0        1        14
57701 20221231 제주 제주시       9        0        1        13
57702 20221231 제주 서귀포시     5        0        1         3
57703 20221229 대구 중구         3        0        0         0
57704 20221229 인천 중구         3        0        0         2
57705 20221229 대전 중구         4        0        0         5
57706 20221229 울산 중구         3        0        2         2
57707 20221231 대구 수성구       9        0        2        10
57708 20221231 대구 달서구       2        0        0         2
57709 20221231 인천 미추홀구     6        0        1         9
57710 20221231 인천 부평구       6        0        2         6
57711 20221231 인천 남동구       5        0        0        13
57712 20221230 서울 중구         6        0        0         6
57713 20221231 인천 연수구       5        0        0         6
57714 20221231 인천 계양구       2        0        0         4
57715 20221230 부산 중구         3        0        2         9
57716 20221230 대구 중구         3        0        0         2
57717 20221230 인천 중구         1        0        0         1
57718 20221231 광주 광산구       3        0        0         6
57719 20221230 대전 중구         4        0        0         5
57720 20221230 울산 중구         3        0        0         3
57721 20221231 서울 중구         2        0        0         6
57722 20221231 부산 중구         1        0        0         1
57723 20221231 대전 유성구       1        0        0         1
57724 20221231 대전 대덕구       4        0        2         5
57725 20221231 대구 중구         1        0        1         0
57726 20221231 대전 중구         8        0        4         9
57727 20221231 울산 중구         1        0        0         1
57728 20221231 울산 울주군       1        0        1         2
57729 20221231 세종 세종시       1        0        0         2
      부상신고자수
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    1
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    3
20    1
21    1
22    0
23    0
24    0
25    2
26    0
27    0
28    0
29    0
30    0
⋮     ⋮
57700 0
57701 0
57702 1
57703 3
57704 1
57705 0
57706 0
57707 2
57708 0
57709 0
57710 0
57711 0
57712 1
57713 0
57714 0
57715 0
57716 4
57717 0
57718 0
57719 0
57720 0
57721 0
57722 0
57723 1
57724 0
57725 0
57726 0
57727 0
57728 0
57729 0

In [7]:
# a. 날짜를 년, 월, 일로 분리
result <- mutate(data, 년 = substr(날짜,1,4), 월 = substr(날짜,5,6), 일 = substr(날짜, 7,8))

# b. 시도와 시군구를 합쳐서 지역으로 생성
result <- mutate(result, 지역 = paste(시도, 시군구))

# c. 변수의 순서를 아래와 같이
result <- result %>% select(2:3, 12, 9:11, 4:8)

result

      시도 시군구       지역              년   월 일 사고건수 사망자수 중상자수
1     서울 강남구       서울 강남구       2022 01 01 9        0        1
2     서울 용산구       서울 용산구       2022 01 01 4        0        1
3     서울 성동구       서울 성동구       2022 01 01 1        0        1
4     서울 동대문구     서울 동대문구     2022 01 01 2        0        1
5     서울 도봉구       서울 도봉구       2022 01 01 5        0        4
6     서울 은평구       서울 은평구       2022 01 01 3        0        1
7     서울 서대문구     서울 서대문구     2022 01 01 1        0        1
8     서울 마포구       서울 마포구       2022 01 01 2        0        1
9     서울 강남구       서울 강남구       2022 01 02 3        0        0
10    서울 구로구       서울 구로구       2022 01 01 2        0        1
11    서울 영등포구     서울 영등포구     2022 01 01 3        0        0
12    서울 동작구       서울 동작구       2022 01 01 2        0        1
13    서울 관악구       서울 관악구       2022 01 01 3        0        0
14    서울 강남구       서울 강남구       2022 01 03 9        0        1
15    서울 강동구       서울 강동구       2022 01 01 2        0        0
16    서울 송파구       서울 송파구       2022 01 01 7        0        4
17    서울 서초구       서울 서초구       2022 01 01 2        0        1
18    서울 중랑구       서울 중랑구       2022 01 01 3        0        1
19    서울 노원구       서울 노원구       2022 01 01 6        0        0
20    서울 강북구       서울 강북구       2022 01 01 4        0        1
21    서울 금천구       서울 금천구       2022 01 01 1        0        0
22    부산 영도구       부산 영도구       2022 01 01 1        0        0
23    부산 부산진구     부산 부산진구     2022 01 01 4        0        1
24    부산 동래구       부산 동래구       2022 01 01 2        0        0
25    서울 강남구       서울 강남구       2022 01 04 7        0        1
26    부산 해운대구     부산 해운대구     2022 01 01 1        0        1
27    부산 사하구       부산 사하구       2022 01 01 3        0        2
28    서울 강남구       서울 강남구       2022 01 05 8        0        3
29    부산 수영구       부산 수영구       2022 01 01 3        0        1
30    부산 사상구       부산 사상구       2022 01 01 1        0        0
⋮     ⋮    ⋮            ⋮                 ⋮    ⋮  ⋮  ⋮        ⋮        ⋮
57700 경남 창원시(통합) 경남 창원시(통합) 2022 12 31 7        0        1
57701 제주 제주시       제주 제주시       2022 12 31 9        0        1
57702 제주 서귀포시     제주 서귀포시     2022 12 31 5        0        1
57703 대구 중구         대구 중구         2022 12 29 3        0        0
57704 인천 중구         인천 중구         2022 12 29 3        0        0
57705 대전 중구         대전 중구         2022 12 29 4        0        0
57706 울산 중구         울산 중구         2022 12 29 3        0        2
57707 대구 수성구       대구 수성구       2022 12 31 9        0        2
57708 대구 달서구       대구 달서구       2022 12 31 2        0        0
57709 인천 미추홀구     인천 미추홀구     2022 12 31 6        0        1
57710 인천 부평구       인천 부평구       2022 12 31 6        0        2
57711 인천 남동구       인천 남동구       2022 12 31 5        0        0
57712 서울 중구         서울 중구         2022 12 30 6        0        0
57713 인천 연수구       인천 연수구       2022 12 31 5        0        0
57714 인천 계양구       인천 계양구       2022 12 31 2        0        0
57715 부산 중구         부산 중구         2022 12 30 3        0        2
57716 대구 중구         대구 중구         2022 12 30 3        0        0
57717 인천 중구         인천 중구         2022 12 30 1        0        0
57718 광주 광산구       광주 광산구       2022 12 31 3        0        0
57719 대전 중구         대전 중구         2022 12 30 4        0        0
57720 울산 중구         울산 중구         2022 12 30 3        0        0
57721 서울 중구         서울 중구         2022 12 31 2        0        0
57722 부산 중구         부산 중구         2022 12 31 1        0        0
57723 대전 유성구       대전 유성구       2022 12 31 1        0        0
57724 대전 대덕구       대전 대덕구       2022 12 31 4        0        2
57725 대구 중구         대구 중구         2022 12 31 1        0        1
57726 대전 중구         대전 중구         2022 12 31 8        0        4
57727 울산 중구         울산 중구         2022 12 31 1        0        0
57728 울산 울주군       울산 울주군       2022 12 31 1        0        1
57729 세종 세종시       세종 세종시       2022 12 31 1        0        0
      경상자수 부상신고자수
1     14       0
2      3       0
3      0       0
4      1       0
5      1       0
6      2       0
7      1       0
8      1       1
9      4       0
10     1       0
11     2       1
12     1       0
13     4       0
14     8       0
15     5       0
16     8       0
17     6       0
18     4       0
19     8       3
20     4       1
21     0       1
22     2       0
23     3       0
24     3       0
25     5       2
26     2       0
27     1       0
28     6       0
29     2       0
30     1       0
⋮     ⋮        ⋮
57700 14       0
57701 13       0
57702  3       1
57703  0       3
57704  2       1
57705  5       0
57706  2       0
57707 10       2
57708  2       0
57709  9       0
57710  6       0
57711 13       0
57712  6       1
57713  6       0
57714  4       0
57715  9       0
57716  2       4
57717  1       0
57718  6       0
57719  5       0
57720  3       0
57721  6       0
57722  1       0
57723  1       1
57724  5       0
57725  0       0
57726  9       0
57727  1       0
57728  2       0
57729  2       0


<hr>
<h4>6. 패키지 doBy의 summaryBy()를 이용하여 전국 월별 ‘사고건수’의 데이터 개수, 합계,
평균, 최솟값, 최댓값, 중앙값을 구하는 코드</h4>

In [8]:
summaryBy(사고건수 ~ 월, data = result, FUN = c(length, sum, mean, min, max, median))

   월 사고건수.length 사고건수.sum 사고건수.mean 사고건수.min 사고건수.max
1  01 4658            15894        3.412194      1            32
2  02 4071            12362        3.036600      1            19
3  03 4547            13620        2.995382      1            18
4  04 4820            16472        3.417427      1            21
5  05 5102            18065        3.540768      1            23
6  06 4824            16481        3.416459      1            21
7  07 4981            17115        3.436057      1            21
8  08 5015            16496        3.289332      1            21
9  09 4890            17216        3.520654      1            23
10 10 5173            18508        3.577808      1            24
11 11 4903            17578        3.585152      1            23
12 12 4745            17029        3.588830      1            30
   사고건수.median
1  2
2  2
3  2
4  2
5  2
6  2
7  2
8  2
9  2
10 3
11 2
12 2

<hr>
<h4>7. 패키지 dplyr의 group_by와 summarise()를 이용하여 전국 월별 ‘사고건수’의 합계,
평균, 최솟값, 최댓값, 중앙값을 구하는 코드</h4>

In [9]:
summarise(group_by(result, 월), sum(사고건수), mean(사고건수), min(사고건수), max(사고건수), median(사고건수))

   월 sum(사고건수) mean(사고건수) min(사고건수) max(사고건수) median(사고건수)
1  01 15894         3.412194       1             32            2
2  02 12362         3.036600       1             19            2
3  03 13620         2.995382       1             18            2
4  04 16472         3.417427       1             21            2
5  05 18065         3.540768       1             23            2
6  06 16481         3.416459       1             21            2
7  07 17115         3.436057       1             21            2
8  08 16496         3.289332       1             21            2
9  09 17216         3.520654       1             23            2
10 10 18508         3.577808       1             24            3
11 11 17578         3.585152       1             23            2
12 12 17029         3.588830       1             30            2

<hr>
<h4>8. 패키지 doBy의 summaryBy()를 이용하여 전국 시도별 ‘경상자수’의 합계, 평균, 최댓
값, 중앙값을 구하는 코드</h4>

In [10]:
summaryBy(경상자수 ~ 시도, data = result, FUN = c(sum, mean, max, median))

   시도 경상자수.sum 경상자수.mean 경상자수.max 경상자수.median
1  강원  7573        2.463565      34           2
2  경기 59363        6.026701      64           4
3  경남  9547        2.407818      25           1
4  경북 11363        2.490794      24           2
5  광주  9171        5.504802      28           5
6  대구 11822        4.339941      23           3
7  대전  8155        4.744037      32           4
8  부산 10513        2.260860      18           2
9  서울 34347        4.030392      32           3
10 세종   744        2.207715       9           2
11 울산  3613        2.369180      22           2
12 인천  8559        3.367034      26           3
13 전남  9718        2.361030      21           2
14 전북  6183        2.649100      21           2
15 제주  4203        5.861925      24           5
16 충남  8892        2.804163      28           2
17 충북  8664        3.842129      31           2

<hr>
<h4>9. 패키지 dplyr의 group_by와 summarise()를 이용하여 전국 시도별 ‘경상자수’의 합
계, 평균, 최댓값, 중앙값을 구하는 코드</h4>

In [11]:
summarise(group_by(result, 시도), sum(경상자수), mean(경상자수), max(경상자수), median(사고건수))

   시도 sum(경상자수) mean(경상자수) max(경상자수) median(사고건수)
1  강원  7573         2.463565       34            1.0
2  경기 59363         6.026701       64            4.0
3  경남  9547         2.407818       25            2.0
4  경북 11363         2.490794       24            2.0
5  광주  9171         5.504802       28            4.0
6  대구 11822         4.339941       23            3.0
7  대전  8155         4.744037       32            3.0
8  부산 10513         2.260860       18            2.0
9  서울 34347         4.030392       32            3.0
10 세종   744         2.207715        9            2.0
11 울산  3613         2.369180       22            2.0
12 인천  8559         3.367034       26            2.5
13 전남  9718         2.361030       21            1.0
14 전북  6183         2.649100       21            2.0
15 제주  4203         5.861925       24            5.0
16 충남  8892         2.804163       28            2.0
17 충북  8664         3.842129       31            2.0

<hr>
<h4>10. 시도 X 월별 사고건수의 합계에 대한 피벗테이블을 출력하는 코드</h4>

In [12]:
library(pivottabler)

In [13]:
result2 <-qpvt(result, "시도", "월", "sum(사고건수)")

print(result2)

       01     02     03     04     05     06     07     08     09     10     11     12     Total
강원       489    346    422    528    553    545    566    648    582    672    549    525    6425
경기      4539   3333   3615   4221   4773   4314   4568   4433   4581   4926   4683   4982   52968
경남       792    691    786    971    963    891    852    878    904   1041    986    856   10611
경북       851    669    722    941   1042    957    991   1010    960   1051    991    852   11037
광주       577    426    515    579    685    633    626    581    653    654    611    582    7122
대구       881    714    803    946   1050    943    997    881    964    989   1040    894   11102
대전       539    403    540    570    621    564    589    512    618    654    652    579    6841
부산       886    746    774    955   1056    921    897    872    918   1006    915    936   10882
서울      2874   2176   2187   2847   3030   2748   3021   2734   2965   3137   2906   3073   33698
세종        46     44     63     78     85    103     78     77     87    105     88     78     932
울산       287    221    235    278    368    341    303    309    305    345    341    327    3660
인천       710    451    523    604    681    635    681    636    698    712    648    716    7695
전남       583    535    608    768    749    656    726    728    727    792    795    668    8335
전북       426    360    405    501    519    521    487    488    478    566    516    414    5681
제주       332    301    323    338    356    351    352    373    326    366    325    296    4039
충남       571    501    570    713    799    698    719    661    745    739    797    651    8164
충북       511    445    529    634    735    660    662    675    705    753    735    600    7644
Total  15894  12362  13620  16472  18065  16481  17115  16496  17216  18508  17578  17029  196836

<hr>
<h4>11. filter와 grepl을 이용하여 시군구에서 ‘동’, ‘서’, ‘남’, ‘북’으로 시작하고,
‘시’로 끝나는 데이터만 추출하여 데이터프레임 news에 저장하고, 지역의 빈도표를 출
력하는 코드</h4>

In [14]:
news <- filter(result, grepl("^[동서남북]", 시군구), grepl("시$", 시군구))

print(table(news$지역))

  강원 동해시 경기 남양주시 경기 동두천시   전북 남원시 제주 서귀포시
          210           363           189           179           352
  충남 서산시
          292

<hr>
<h4>12. 패키지 doBy의 summaryBy()를 이용하여 지역별 ‘경상자수’의 합계, 평균, 최댓값,
중앙값을 구하는 코드</h4>

In [15]:
summaryBy(사고건수 ~ 지역, data = news, FUN = c(sum, mean, min, max))

  지역          사고건수.sum 사고건수.mean 사고건수.min 사고건수.max
1 강원 동해시    310         1.476190      1             5
2 경기 남양주시 1970         5.426997      1            12
3 경기 동두천시  273         1.444444      1             5
4 전북 남원시    278         1.553073      1             5
5 제주 서귀포시 1249         3.548295      1             9
6 충남 서산시    615         2.106164      1            10

<hr>
<h4>13. 시도 X 월별 사고건수의 합계에 대한 피벗테이블을 출력하는 코드</h4>

In [16]:
result3 <-qpvt(news, "지역", "월", "sum(사고건수)")

print(result3)

         01   02   03   04   05   06   07   08   09   10   11   12   Total
강원 동해시    28   14   21   22   24   27   22   31   29   33   36   23    310
경기 남양주시  148  125  149  139  162  172  202  167  169  189  172  176   1970
경기 동두천시   16   17   18   26   24   23   24   23   16   26   32   28    273
전북 남원시    16    9   26   26   24   31   23   16   23   32   32   20    278
제주 서귀포시  104  111   93  117   92   87  105  109  120  115  107   89   1249
충남 서산시    35   44   48   60   62   44   54   44   45   68   61   50    615
Total    347  320  355  390  388  384  430  390  402  463  440  386   4695

<hr>
<h4>※ 데이터 파일 “air_2021.xlsx”에 대하여 다음을 수행하시오.</h4>
<hr>
<h4>14. 6개의 시트에 있는 모든 데이터를 읽어 데이터프레임 air로 합치고 구조(str)를 출력
하는 코드</h4>

In [17]:
library(readxl)
list.files()

[1] "202121059-정보경-exercise-5.ipynb"
[2] "202121059-정보경-무작정 따라하기-5.ipynb"
[3] "2022년_도로교통공단_일자별 시군구별 교통사고 건수.csv"
[4] "2022년_서울_일별평균대기오염도_2022.csv"
[5] "air_2021.xlsx"

In [18]:
air1 <- read_xlsx("air_2021.xlsx", sheet = 1)
air2 <- read_xlsx("air_2021.xlsx", sheet = 2)
air3 <- read_xlsx("air_2021.xlsx", sheet = 3)
air4 <- read_xlsx("air_2021.xlsx", sheet = 4)
air5 <- read_xlsx("air_2021.xlsx", sheet = 5)
air6 <- read_xlsx("air_2021.xlsx", sheet = 6)

air <- rbind(air1, air2, air3, air4, air5, air6)

str(air)

tibble [5,108,376 × 11] (S3: tbl_df/tbl/data.frame)
 $ prov    : chr [1:5108376] "강원" "강원" "강원" "강원" ...
 $ city    : chr [1:5108376] "강릉시" "강릉시" "강릉시" "강릉시" ...
 $ point   : chr [1:5108376] "옥천동" "옥천동" "옥천동" "옥천동" ...
 $ code    : num [1:5108376] 632132 632132 632132 632132 632132 ...
 $ datatime: POSIXct[1:5108376], format: "2021-01-01 01:00:00" "2021-01-01 02:00:00" ...
 $ SC2     : num [1:5108376] 0.003 0.003 0.003 0.003 0.003 0.003 0.005 0.004 0.003 0.003 ...
 $ PM10    : num [1:5108376] 21 16 19 19 18 16 14 14 17 13 ...
 $ O3      : num [1:5108376] 0.031 0.028 0.029 0.031 0.028 0.027 0.015 0.018 0.032 0.034 ...
 $ NO2     : num [1:5108376] 0.011 0.014 0.012 0.011 0.015 0.018 0.031 0.028 0.014 0.01 ...
 $ CO      : num [1:5108376] 0.3 0.4 0.3 0.3 0.3 0.3 0.4 0.4 0.3 0.3 ...
 $ PM25    : num [1:5108376] -999 -999 -999 -999 -999 -999 -999 -999 -999 -999 ...

<hr>
<h4>15. 이 자료에는 결측치가 모두 -999로 입력되어 있다. 모든 -999를 NA로 바꾸고 air의
구조를 출력하는 코드(PM25의 자료가 NA로 바뀌어 있어야 함)</h4>

In [19]:
air[air==-999] <- NA

str(air)

tibble [5,108,376 × 11] (S3: tbl_df/tbl/data.frame)
 $ prov    : chr [1:5108376] "강원" "강원" "강원" "강원" ...
 $ city    : chr [1:5108376] "강릉시" "강릉시" "강릉시" "강릉시" ...
 $ point   : chr [1:5108376] "옥천동" "옥천동" "옥천동" "옥천동" ...
 $ code    : num [1:5108376] 632132 632132 632132 632132 632132 ...
 $ datatime: POSIXct[1:5108376], format: "2021-01-01 01:00:00" "2021-01-01 02:00:00" ...
 $ SC2     : num [1:5108376] 0.003 0.003 0.003 0.003 0.003 0.003 0.005 0.004 0.003 0.003 ...
 $ PM10    : num [1:5108376] 21 16 19 19 18 16 14 14 17 13 ...
 $ O3      : num [1:5108376] 0.031 0.028 0.029 0.031 0.028 0.027 0.015 0.018 0.032 0.034 ...
 $ NO2     : num [1:5108376] 0.011 0.014 0.012 0.011 0.015 0.018 0.031 0.028 0.014 0.01 ...
 $ CO      : num [1:5108376] 0.3 0.4 0.3 0.3 0.3 0.3 0.4 0.4 0.3 0.3 ...
 $ PM25    : num [1:5108376] NA NA NA NA NA NA NA NA NA NA ...

<hr>
<h4>16. 데이터 air에 각 시도(prov)별 ‘PM10’의 최솟값, 최댓값, 평균을 구하는 코드</h4>

In [20]:
summaryBy( PM10 ~ prov, data = air, FUN = c(min, max, mean), na.rm = T )

   prov PM10.min PM10.max PM10.mean
1  강원 1         850     31.25831
2  경기 0        1207     42.20110
3  경남 0        1485     30.05276
4  경북 1        1317     33.04698
5  광주 1        1227     34.60551
6  대구 1        1348     35.05693
7  대전 1         936     36.35791
8  부산 2        1050     31.99251
9  서울 3        1024     39.50859
10 세종 4         890     38.97608
11 울산 1         934     29.83060
12 인천 0        1038     39.90761
13 전남 1        1569     32.55029
14 전북 1        1247     38.08923
15 제주 0        1985     32.28415
16 충남 0        1274     41.85735
17 충북 0         985     37.65354

<hr>
<h4>17. 파이프(%>%)를 이용하여 다음 순서에 따라 데이터프레임 west를 저장하고 head()를
출력하는 코드</h4>

In [21]:
# a. 시도(prov)가 “전남” 또는 “전북”인 데이터만 추출(filter)
west <- air %>% filter(prov=="전남" | prov=="전북")

# b. 시군구(city)가 “시”로 끝나는 데이터만 추출(filter & grepl)
west <- west %>% filter(grepl( "시$", city))

# c. datatime으로부터 year, month, date, time을 분리하여 저장(mutate)
west <- west %>% mutate( year = substr(datatime, 1, 4), month = substr(datatime, 6, 7), 
                date = substr(datatime, 9, 10), time = substr(datatime, 12, 13) ) 

# d. 변수를 아래와 같이 선택(select)
west <- west %>% select(prov, city, point, datatime, year, month, date, time, PM10)

head(west)

  prov city   point datatime            year month date time PM10
1 전남 광양시 중동  2021-01-01 01:00:00 2021 01    01   01   17
2 전남 광양시 중동  2021-01-01 02:00:00 2021 01    01   02   17
3 전남 광양시 중동  2021-01-01 03:00:00 2021 01    01   03   16
4 전남 광양시 중동  2021-01-01 04:00:00 2021 01    01   04   14
5 전남 광양시 중동  2021-01-01 05:00:00 2021 01    01   05   16
6 전남 광양시 중동  2021-01-01 06:00:00 2021 01    01   06   13

<hr>
<h4>18. 시군구(city)의 빈도표를 출력하는 코드</h4>

In [22]:
table(west$city)

광양시 군산시 김제시 나주시 남원시 목포시 순천시 여수시 익산시 전주시 정읍시
 35016  57696   8760   8760   9864  17520  43800  70080  48072  52560  24960

<hr>
<h4>19.패키지 dplyr의 grp, summarise를 이용하여 PM10의 유효데이터의 수(n), 평균, 최
솟값, 최댓값, 중앙값을 아래와 같이 출력하는 코드(데이터에 NA가 포함되어 있음에 주
의)</h4>

In [23]:
grp <- group_by(west, city)

summarise(grp, n = sum(!is.na(PM10)), 평균 = mean(PM10, na.rm = T), 최솟값 = min(PM10, na.rm = T), 최댓값 = max(PM10, na.rm = T), 중앙값 = median(PM10, na.rm = T))

   city   n     평균     최솟값 최댓값 중앙값
1  광양시 29008 32.67643 1      1175   24
2  군산시 55251 42.16754 1      1194   31
3  김제시  8533 43.19559 1       985   32
4  나주시  8379 28.24728 1       861   20
5  남원시  8785 31.26227 1       985   24
6  목포시 16738 37.21394 2      1569   26
7  순천시 41875 28.88898 1      1305   22
8  여수시 67525 28.64221 1      1182   21
9  익산시 39098 39.97371 1       935   30
10 전주시 50236 40.28396 1       985   29
11 정읍시 22093 34.23374 1       943   26

<hr>
<h4>20. 데이터 west로부터 city가 여수시, month가 3월인 데이터만 추출하여 yeosu에 저장
하고 head와 tail을 출력하는 코드 </h4>

In [24]:
# a. city가 ‘여수시’인 데이터만 추출(filter)
yeosu <- filter(west, city == "여수시")

# b. month가 ‘03’인 데이터만 추출(filter)
yeosu <- filter(yeosu, month == "03")

# c. 변수를 아래와 같이 선택(select)
yeosu <- yeosu %>% select(prov, city, point, month, date, time, PM10)

head(yeosu)
tail(yeosu)

  prov city   point  month date time PM10
1 전남 여수시 서강동 03    01        21
2 전남 여수시 서강동 03    01   01   21
3 전남 여수시 서강동 03    01   02   20
4 전남 여수시 서강동 03    01   03   19
5 전남 여수시 서강동 03    01   04   18
6 전남 여수시 서강동 03    01   05   19

  prov city   point  month date time PM10
1 전남 여수시 삼일동 03    31   18   67
2 전남 여수시 삼일동 03    31   19   65
3 전남 여수시 삼일동 03    31   20   62
4 전남 여수시 삼일동 03    31   21   60
5 전남 여수시 삼일동 03    31   22   58
6 전남 여수시 삼일동 03    31   23   56

<hr>
<h4>21.데이터 yeosu에 대하여 일(date)별 PM10의 평균, 최솟값, 최댓값, 중앙값을 다음과
같이 출력하는 코드</h4>

In [25]:
summarise(group_by(yeosu, date), 평균 = mean(PM10, na.rm = T), 최솟값 = min(PM10, na.rm = T), 최댓값 = max(PM10, na.rm = T), 중앙값 = median(PM10, na.rm = T))

   date 평균       최솟값 최댓값 중앙값
1  01    15.230366   2      33    17.0
2  02     8.281609   1      20     8.0
3  03    15.544444   7      29    15.0
4  04    20.254144  10      66    18.0
5  05    17.867089   7      39    17.0
6  06    32.775641   9      80    32.0
7  07    20.895833   7      42    20.0
8  08    26.913907  12      51    26.0
9  09    24.835294  13      55    25.0
10 10    45.391534  24      68    45.0
11 11    31.673684  20      54    31.0
12 12    13.983957   4      43    11.0
13 13    19.576720   4      33    22.0
14 14    30.246073  18      50    30.0
15 15    39.161458  21      92    38.0
16 16    55.686486   4     274    34.0
17 17    65.994505  42      89    66.0
18 18    64.853107  42      94    65.0
19 19    38.395833  27      55    38.0
20 20    19.640625   4      43    18.0
21 21    31.457895   5      58    30.0
22 22    30.099448  18      52    30.0
23 23    66.511364  45      94    65.0
24 24    50.703125  30      80    50.0
25 25    34.895833  20      65    36.0
26 26    59.645833  30     103    56.0
27 27    34.209424   2      69    38.0
28 28    16.043716   2      54    14.0
29 29   468.552083  36    1182   411.0
30 30   158.640625 105     446   146.0
31 31    89.083333  51     138    91.5

<hr>
<h4>22. 데이터 yeosu에 대하여 일 x 측정소(point)별 PM10의 평균에 대한 피벗테이블을 출
력하는 코드</h4>

In [26]:
result4 <-qpvt(yeosu, "date", "point", "mean(PM10, na.rm = T)", formats = "%.2f")

result4

       덕충동     문수동     삼일동     서강동     여천동     월내동     율촌면     화양면     Total
01      16.00   12.83   12.67   14.75   17.67   17.57   17.83   12.62   15.23
02       9.70    7.17    7.58    7.33    7.88    9.73    9.46    7.88    8.28
03      12.96   14.00   14.50   13.73   16.36   16.71   21.33   14.18   15.54
04      15.83   17.05   18.67   15.96   20.92   29.59   23.88   20.82   20.25
05      16.42   17.46   18.48   14.25   19.96   22.90   16.04   13.25   17.87
06      29.67   29.33   32.13     NaN   30.52   39.62   32.96   36.71   32.78
07      19.88   17.83   20.88     NaN   22.21   22.42   22.17     NaN   20.90
08      25.38   23.33   24.00   23.86   27.12   29.88   32.67     NaN   26.91
09      23.75   22.25   22.75   23.50   25.67   28.58   26.54   34.50   24.84
10      44.50   39.75   44.17   45.25   45.88   49.12   52.08   41.95   45.39
11      28.42   27.25   30.92   30.33   31.23   35.83   39.12   30.25   31.67
12      11.67   12.04   13.96   11.21   16.42   15.33   17.96   13.79   13.98
13      19.46   19.96   20.25   21.18   19.21   21.33   17.96   17.42   19.58
14      33.46   27.25   28.43   28.83   29.08   36.33   31.29   27.21   30.25
15      42.46   33.29   35.75   37.71   37.96   51.92   42.42   31.79   39.16
16      53.43   49.33   50.79   60.23   54.35   58.29   54.67   64.96   55.69
17      61.57   61.50   58.83   73.17   64.50   67.88   70.62   68.04   65.99
18      53.33   61.42   60.25   69.21   62.92   72.88   67.96   63.67   64.85
19      38.00   34.79   34.42   40.00   37.17   41.92   43.29   37.58   38.40
20      21.12   18.50   20.38   19.50   18.38   19.38   21.21   18.67   19.64
21      33.21   27.96   32.68   30.50   31.38   32.00   32.46   31.58   31.46
22      26.77   26.83   29.33   30.00   30.38   30.83   32.62   32.50   30.10
23      60.12   56.58   68.42   65.46   66.04   77.92   65.08   68.21   66.51
24      53.21   42.62   48.83   56.71   49.54   52.96   52.00   49.75   50.70
25      34.50   30.58   34.79   35.79   35.50   41.21   35.71   31.08   34.90
26      59.33   54.12   55.42   59.75   55.54   67.12   69.50   56.38   59.65
27      33.42   29.08   29.92   32.38   35.00   43.22   39.58   31.46   34.21
28      16.68   14.30   13.86   14.64   15.88   19.95   16.54   16.50   16.04
29     461.17  431.54  460.29  507.96  451.50  477.04  444.67  514.25  468.55
30     137.00  139.71  150.67  169.33  156.62  150.33  173.46  192.00  158.64
31      86.62   81.75   80.58   96.54   89.88   97.50   93.79   86.00   89.08
Total   51.11   47.95   51.13   58.85   53.27   58.32   55.38   60.62   54.43