<h1>R 무작정 따라하기 5</h1>
<h3>2023년 11월 15일 (수)</h3>
<hr>

In [1]:
library(doBy)

In [2]:
result <- summaryBy(len ~ supp, data = ToothGrowth, FUN = mean)
result

  supp len.mean
1 OJ   20.66333
2 VC   16.96333

In [3]:
class(result)

[1] "data.frame"

In [4]:
result <- summaryBy(len ~ dose, data = ToothGrowth, FUN = mean)
result

  dose len.mean
1 0.5  10.605
2 1.0  19.735
3 2.0  26.100

In [5]:
result$len.mean <- round(result$len.mean, 2)
result

  dose len.mean
1 0.5  10.61
2 1.0  19.74
3 2.0  26.10

In [6]:
summaryBy(len ~ supp + dose, data=ToothGrowth, FUN=median)

  supp dose len.median
1 OJ   0.5  12.25
2 OJ   1.0  23.45
3 OJ   2.0  25.95
4 VC   0.5   7.15
5 VC   1.0  16.50
6 VC   2.0  25.95

In [7]:
tapply(ToothGrowth$len, list(ToothGrowth$supp, ToothGrowth$dose), mean)

   0.5   1     2
OJ 13.23 22.70 26.06
VC  7.98 16.77 26.14

In [8]:
result <- summaryBy(len ~ supp, data=ToothGrowth, FUN=c(mean, min, max))
result

  supp len.mean len.min len.max
1 OJ   20.66333 8.2     30.9
2 VC   16.96333 4.2     33.9

In [9]:
result <- summaryBy(len ~ supp + dose, data=ToothGrowth, FUN=c(length, mean))
result

  supp dose len.length len.mean
1 OJ   0.5  10         13.23
2 OJ   1.0  10         22.70
3 OJ   2.0  10         26.06
4 VC   0.5  10          7.98
5 VC   1.0  10         16.77
6 VC   2.0  10         26.14

In [10]:
list.files()

[1] "202121059-정보경-exercise-5.ipynb"
[2] "202121059-정보경-무작정 따라하기-5.ipynb"
[3] "2022년_도로교통공단_일자별 시군구별 교통사고 건수.csv"
[4] "2022년_서울_일별평균대기오염도_2022.csv"
[5] "air_2021.xlsx"

In [11]:
data <- read.csv("2022년_서울_일별평균대기오염도_2022.csv", fileEncoding = "CP949")
head(data)

  측정일시 측정소명 이산화질소 오존  일산화탄소 아황산가스 미세먼지 초미세먼지
1 20220101 강남구   0.029      0.014 0.5        0.003      25       12
2 20220101 홍릉로   0.038      0.009 0.6        0.004      27       16
3 20220101 행주     0.034      0.012 0.7        0.004      27       16
4 20220101 항동     0.030      0.011 0.5        0.003      27       14
5 20220101 한강대로 0.037      0.011 0.6        0.003      34       14
6 20220101 청계천로 0.037      0.011 0.6        0.003      27       16

In [12]:
any(is.na(data))

[1] TRUE

In [13]:
idx <- which(is.na(data[3:8]))
data[idx, ]

       측정일시 측정소명 이산화질소 오존  일산화탄소 아황산가스 미세먼지
1492   20220130 관악산   NA         0.036 0.4        0.004      29
1542   20220131 관악산   NA         0.042 0.4        0.003      28
1595   20220201 관악산   NA         0.040 0.4        0.003      39
3332   20220308 서대문구 NA         0.040 0.5        0.003      66
3755   20220317 항동     NA            NA  NA           NA      NA
3805   20220318 항동     NA            NA  NA           NA      NA
3855   20220319 항동     NA            NA  NA           NA      NA
3905   20220320 항동     NA            NA  NA           NA      NA
4155   20220325 항동     NA            NA  NA           NA      NA
4205   20220326 항동     NA            NA  NA           NA      NA
4255   20220327 항동     NA            NA  NA           NA      NA
4305   20220328 항동     NA            NA  NA           NA      NA
4355   20220329 항동     NA            NA  NA           NA      NA
8379   20220617 북한산   NA            NA  NA           NA      NA
8429   20220618 북한산   NA            NA  NA           NA      NA
8482   20220619 북한산   NA            NA  NA           NA      NA
8485   20220619 동작대로 NA            NA  NA           NA      NA
8530   20220620 북한산   NA            NA  NA           NA      NA
8579   20220621 북한산   NA            NA  NA           NA      NA
8631   20220622 북한산   NA            NA  NA           NA      NA
8679   20220623 북한산   NA            NA  NA           NA      NA
8729   20220624 북한산   NA            NA  NA           NA      NA
8782   20220625 북한산   NA            NA  NA           NA      NA
8829   20220626 북한산   NA            NA  NA           NA      NA
10173  20220723 송파구   NA            NA  NA           NA      NA
11037  20220809 동대문구 NA            NA  NA           NA      NA
11073  20220810 송파구   NA         0.038 0.3        0.002      11
11084  20220810 동대문구 NA            NA  NA           NA      NA
11134  20220811 동대문구 NA            NA  NA           NA      NA
11186  20220812 동대문구 NA            NA  NA           NA      NA
⋮      ⋮        ⋮        ⋮          ⋮     ⋮          ⋮          ⋮
NA.457 NA       NA       NA         NA    NA         NA         NA
NA.458 NA       NA       NA         NA    NA         NA         NA
NA.459 NA       NA       NA         NA    NA         NA         NA
NA.460 NA       NA       NA         NA    NA         NA         NA
NA.461 NA       NA       NA         NA    NA         NA         NA
NA.462 NA       NA       NA         NA    NA         NA         NA
NA.463 NA       NA       NA         NA    NA         NA         NA
NA.464 NA       NA       NA         NA    NA         NA         NA
NA.465 NA       NA       NA         NA    NA         NA         NA
NA.466 NA       NA       NA         NA    NA         NA         NA
NA.467 NA       NA       NA         NA    NA         NA         NA
NA.468 NA       NA       NA         NA    NA         NA         NA
NA.469 NA       NA       NA         NA    NA         NA         NA
NA.470 NA       NA       NA         NA    NA         NA         NA
NA.471 NA       NA       NA         NA    NA         NA         NA
NA.472 NA       NA       NA         NA    NA         NA         NA
NA.473 NA       NA       NA         NA    NA         NA         NA
NA.474 NA       NA       NA         NA    NA         NA         NA
NA.475 NA       NA       NA         NA    NA         NA         NA
NA.476 NA       NA       NA         NA    NA         NA         NA
NA.477 NA       NA       NA         NA    NA         NA         NA
NA.478 NA       NA       NA         NA    NA         NA         NA
NA.479 NA       NA       NA         NA    NA         NA         NA
NA.480 NA       NA       NA         NA    NA         NA         NA
NA.481 NA       NA       NA         NA    NA         NA         NA
NA.482 NA       NA       NA         NA    NA         NA         NA
NA.483 NA       NA       NA         NA    NA         NA         NA
NA.484 NA       NA       NA         NA    NA         NA         NA
NA.485 NA       NA       NA         NA    NA         NA         NA
NA.486 NA       NA       NA         NA    NA         NA         NA
       초미세먼지
1492   14
1542   17
1595   33
3332   30
3755   NA
3805   NA
3855   NA
3905   NA
4155   NA
4205   NA
4255   NA
4305   NA
4355   NA
8379   NA
8429   NA
8482   NA
8485   NA
8530   NA
8579   NA
8631   NA
8679   NA
8729   NA
8782   NA
8829   NA
10173  NA
11037  NA
11073   5
11084  NA
11134  NA
11186  NA
⋮      ⋮
NA.457 NA
NA.458 NA
NA.459 NA
NA.460 NA
NA.461 NA
NA.462 NA
NA.463 NA
NA.464 NA
NA.465 NA
NA.466 NA
NA.467 NA
NA.468 NA
NA.469 NA
NA.470 NA
NA.471 NA
NA.472 NA
NA.473 NA
NA.474 NA
NA.475 NA
NA.476 NA
NA.477 NA
NA.478 NA
NA.479 NA
NA.480 NA
NA.481 NA
NA.482 NA
NA.483 NA
NA.484 NA
NA.485 NA
NA.486 NA

In [14]:
idx <- grep("산$", data$측정소명)
san <- data[idx, ]
table(san$측정소명)

관악산   남산 북한산
   365    365    365

In [15]:
summaryBy(미세먼지 ~ 측정소명, data=san, FUN=c(mean, max))

  측정소명 미세먼지.mean 미세먼지.max
1 관악산   NA            NA
2 남산     NA            NA
3 북한산   NA            NA

In [16]:
summaryBy(미세먼지 ~ 측정소명, data=san, FUN=c(min, mean, max), na.rm=T)

  측정소명 미세먼지.min 미세먼지.mean 미세먼지.max
1 관악산   3            29.32676      186
2 남산     3            28.80435      223
3 북한산   3            25.93803      228

In [17]:
summaryBy(미세먼지 ~ 측정소명, data=san, FUN=c(length, mean), na.rm=T)

ERROR: Error in currFUN(x, ...): 2 arguments passed to 'length' which requires 1

In [18]:
idx <- which(is.na(san$미세먼지))
idx

 [1]   17   20   23   26   29   32   35   38   41   44   47   50   53   56   59
[16]   62   65   68   71   74   77   80   83   86   89   92   95   98  101  104
[31]  107  110  113  116  119  122  125  128  131  134  137  140  347  502  505
[46]  508  511  514  517  520  523  526  529  873  876  879  882  885  888  891
[61]  951  996 1023

In [19]:
san2 <- san[-idx, ]

summaryBy(미세먼지 ~ 측정소명, data=san2, FUN=c(length, mean))

  측정소명 미세먼지.length 미세먼지.mean
1 관악산   355             29.32676
2 남산     322             28.80435
3 북한산   355             25.93803

In [20]:
san$월 <- substr(san$측정일시, 5,6)
head(san[c('측정소명', '월', '초미세먼지')])

   측정소명 월 초미세먼지
30 북한산   01 13
39 남산     01 13
43 관악산   01  9
79 북한산   01 24
88 남산     01 22
92 관악산   01 21

In [21]:
summaryBy(초미세먼지 ~ 월 + 측정소명, data=san, FUN = mean, na.rm = T)

   월 측정소명 초미세먼지.mean
1  01 관악산   22.967742
2  01 남산     18.000000
3  01 북한산   24.483871
4  02 관악산   21.785714
5  02 남산     21.583333
6  02 북한산   23.285714
7  03 관악산   18.645161
8  03 남산     20.677419
9  03 북한산   21.032258
10 04 관악산   19.366667
11 04 남산     19.933333
12 04 북한산   20.400000
13 05 관악산   16.483871
14 05 남산     14.935484
15 05 북한산   15.741935
16 06 관악산   12.400000
17 06 남산      9.166667
18 06 북한산    8.700000
19 07 관악산   15.741935
20 07 남산     10.451613
21 07 북한산   12.516129
22 08 관악산   10.419355
23 08 남산      6.161290
24 08 북한산    8.129032
25 09 관악산   10.866667
26 09 남산      7.900000
27 09 북한산    7.700000
28 10 관악산   13.000000
29 10 남산     12.419355
30 10 북한산    9.580645
31 11 관악산   18.766667
32 11 남산     21.866667
33 11 북한산   17.600000
34 12 관악산   13.483871
35 12 남산     18.419355
36 12 북한산   15.548387

In [22]:
library(dplyr)

Attaching package: ‘dplyr’


The following object is masked from ‘package:doBy’:

    order_by


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [23]:
list.files()

[1] "202121059-정보경-exercise-5.ipynb"
[2] "202121059-정보경-무작정 따라하기-5.ipynb"
[3] "2022년_도로교통공단_일자별 시군구별 교통사고 건수.csv"
[4] "2022년_서울_일별평균대기오염도_2022.csv"
[5] "air_2021.xlsx"

In [24]:
data <- read.csv("2022년_도로교통공단_일자별 시군구별 교통사고 건수.csv")

In [25]:
head(data)

  날짜     시도 시군구   사고건수 사망자수 중상자수 경상자수 부상신고자수
1 20220101 서울 강남구   9        0        1        14       0
2 20220101 서울 용산구   4        0        1         3       0
3 20220101 서울 성동구   1        0        1         0       0
4 20220101 서울 동대문구 2        0        1         1       0
5 20220101 서울 도봉구   5        0        4         1       0
6 20220101 서울 은평구   3        0        1         2       0

In [26]:
data2 <- select(data, 날짜, 시도, 시군구, 사고건수)
head(data2, 3)

  날짜     시도 시군구 사고건수
1 20220101 서울 강남구 9
2 20220101 서울 용산구 4
3 20220101 서울 성동구 1

In [27]:
data3 <- select(data, c(1:2, 4:6))
head(data3, 3)

  날짜     시도 사고건수 사망자수 중상자수
1 20220101 서울 9        0        1
2 20220101 서울 4        0        1
3 20220101 서울 1        0        1

In [28]:
data2 <- select(data, -부상신고자수)
head(data2)

  날짜     시도 시군구   사고건수 사망자수 중상자수 경상자수
1 20220101 서울 강남구   9        0        1        14
2 20220101 서울 용산구   4        0        1         3
3 20220101 서울 성동구   1        0        1         0
4 20220101 서울 동대문구 2        0        1         1
5 20220101 서울 도봉구   5        0        4         1
6 20220101 서울 은평구   3        0        1         2

In [29]:
data3 <- select(data, 1:6,-사망자수)
head(data3)

  날짜     시도 시군구   사고건수 중상자수
1 20220101 서울 강남구   9        1
2 20220101 서울 용산구   4        1
3 20220101 서울 성동구   1        1
4 20220101 서울 동대문구 2        1
5 20220101 서울 도봉구   5        4
6 20220101 서울 은평구   3        1

In [30]:
data2 <- mutate(data, 부상자수 = 경상자수 + 중상자수 + 부상신고자수)
head(data2)

  날짜     시도 시군구   사고건수 사망자수 중상자수 경상자수 부상신고자수
1 20220101 서울 강남구   9        0        1        14       0
2 20220101 서울 용산구   4        0        1         3       0
3 20220101 서울 성동구   1        0        1         0       0
4 20220101 서울 동대문구 2        0        1         1       0
5 20220101 서울 도봉구   5        0        4         1       0
6 20220101 서울 은평구   3        0        1         2       0
  부상자수
1 15
2  4
3  1
4  2
5  5
6  3

In [31]:
data3 <- mutate(data2, 사고당부상자수 = 부상자수/사고건수)
head(data3[c(1:4, 9:10)])

  날짜     시도 시군구   사고건수 부상자수 사고당부상자수
1 20220101 서울 강남구   9        15       1.666667
2 20220101 서울 용산구   4         4       1.000000
3 20220101 서울 성동구   1         1       1.000000
4 20220101 서울 동대문구 2         2       1.000000
5 20220101 서울 도봉구   5         5       1.000000
6 20220101 서울 은평구   3         3       1.000000

In [32]:
data4 <- mutate(data3, 년 = substr(날짜,1,4), 월 = substr(날짜,5,6), 일 = substr(날짜,7,8))
head(data4)

  날짜     시도 시군구   사고건수 사망자수 중상자수 경상자수 부상신고자수
1 20220101 서울 강남구   9        0        1        14       0
2 20220101 서울 용산구   4        0        1         3       0
3 20220101 서울 성동구   1        0        1         0       0
4 20220101 서울 동대문구 2        0        1         1       0
5 20220101 서울 도봉구   5        0        4         1       0
6 20220101 서울 은평구   3        0        1         2       0
  부상자수 사고당부상자수 년   월 일
1 15       1.666667       2022 01 01
2  4       1.000000       2022 01 01
3  1       1.000000       2022 01 01
4  2       1.000000       2022 01 01
5  5       1.000000       2022 01 01
6  3       1.000000       2022 01 01

In [33]:
data5 <- select(data4, c(11:13, 2:4, 9:10))
data6 <- arrange(data5, desc(사고건수))
head(data6)

  년   월 일 시도 시군구 사고건수 부상자수 사고당부상자수
1 2022 01 21 경기 수원시 32       40       1.250000
2 2022 12 17 경기 성남시 30       50       1.666667
3 2022 01 20 경기 수원시 28       48       1.714286
4 2022 12 24 경기 수원시 27       54       2.000000
5 2022 01 06 경기 수원시 25       36       1.440000
6 2022 01 14 경기 성남시 25       29       1.160000

In [34]:
data6 <- arrange(data5, desc(사고건수), 사고당부상자수)
head(data6)

  년   월 일 시도 시군구 사고건수 부상자수 사고당부상자수
1 2022 01 21 경기 수원시 32       40       1.250000
2 2022 12 17 경기 성남시 30       50       1.666667
3 2022 01 20 경기 수원시 28       48       1.714286
4 2022 12 24 경기 수원시 27       54       2.000000
5 2022 01 14 경기 성남시 25       29       1.160000
6 2022 01 06 경기 수원시 25       36       1.440000

In [35]:
data7 <- filter(data6, 사고당부상자수 >= 4)
head(data7)

  년   월 일 시도 시군구 사고건수 부상자수 사고당부상자수
1 2022 12 06 경기 용인시 16       75       4.687500
2 2022 12 04 경기 용인시 12       61       5.083333
3 2022 05 14 경기 용인시 10       44       4.400000
4 2022 07 13 경기 안산시  9       40       4.444444
5 2022 11 05 경기 평택시  9       41       4.555556
6 2022 10 19 경기 광주시  9       46       5.111111

In [36]:
data7 <- filter(data6, 사고당부상자수 >= 4) %>% arrange(desc(사고당부상자수), 사고건수)
head(data7)

  년   월 일 시도 시군구 사고건수 부상자수 사고당부상자수
1 2022 10 26 경기 이천시 1        26       26
2 2022 06 26 부산 동구   1        24       24
3 2022 08 10 대구 북구   1        23       23
4 2022 06 02 전남 신안군 1        21       21
5 2022 07 22 경남 합천군 1        17       17
6 2022 03 19 강원 양양군 2        34       17

In [37]:
data7 <- filter(data6, 사고당부상자수 >= 4, 사고건수 >= 9, 사고건수 <= 12) %>% arrange(desc(사고당부상자수), 사고건수)
data7

  년   월 일 시도 시군구 사고건수 부상자수 사고당부상자수
1 2022 10 19 경기 광주시  9       46       5.111111
2 2022 12 04 경기 용인시 12       61       5.083333
3 2022 11 05 경기 평택시  9       41       4.555556
4 2022 07 13 경기 안산시  9       40       4.444444
5 2022 05 14 경기 용인시 10       44       4.400000

In [38]:
data7 <- filter(data6, 사고당부상자수 >= 4, 사고건수 == 9 | 사고건수 == 12) %>% arrange(desc(사고당부상자수), 사고건수)
data7

  년   월 일 시도 시군구 사고건수 부상자수 사고당부상자수
1 2022 10 19 경기 광주시  9       46       5.111111
2 2022 12 04 경기 용인시 12       61       5.083333
3 2022 11 05 경기 평택시  9       41       4.555556
4 2022 07 13 경기 안산시  9       40       4.444444

In [39]:
data2 <- mutate(data, 부상자수 = 경상자수 + 중상자수 + 부상신고자수)
data3 <- mutate(data2, 사고당부상자수 = 부상자수 / 사고건수)
data4 <- mutate(data3, 년 = substr(날짜, 1, 4), 월 = substr(날짜, 5, 6), 일 = substr(날짜, 7, 8))
data5 <- select(data4, c(11:13, 2:4, 9:10))
data6 <- arrange(data5, desc(사고건수))
data7 <- filter(data6, 사고당부상자수 >= 4)

head(data7, 3)

  년   월 일 시도 시군구 사고건수 부상자수 사고당부상자수
1 2022 12 06 경기 용인시 16       75       4.687500
2 2022 12 04 경기 용인시 12       61       5.083333
3 2022 05 14 경기 용인시 10       44       4.400000

In [40]:
data7 <- data %>% mutate(부상자수 = 경상자수 + 중상자수 + 부상신고자수) %>% mutate(사고당부상자수 = 부상자수 / 사고건수) %>% mutate(년 = substr(날짜, 1, 4), 월 = substr(날짜, 5, 6), 일 = substr(날짜, 7, 8)) %>% 
    select(c(11:13, 2:4, 9:10)) %>% arrange(desc(사고건수)) %>% filter(사고당부상자수 >= 4)

head(data7, 3)

  년   월 일 시도 시군구 사고건수 부상자수 사고당부상자수
1 2022 12 06 경기 용인시 16       75       4.687500
2 2022 12 04 경기 용인시 12       61       5.083333
3 2022 05 14 경기 용인시 10       44       4.400000

In [41]:
newdata <- data %>% mutate(부상자수 = 경상자수 + 중상자수 + 부상신고자수) %>% mutate(년 = substr(날짜, 1, 4), 
        월 = substr(날짜, 5, 6), 일 = substr(날짜, 7, 8)) %>% mutate(지역 = paste(시도, 시군구))

head(newdata, 3)

  날짜     시도 시군구 사고건수 사망자수 중상자수 경상자수 부상신고자수
1 20220101 서울 강남구 9        0        1        14       0
2 20220101 서울 용산구 4        0        1         3       0
3 20220101 서울 성동구 1        0        1         0       0
  부상자수 년   월 일 지역
1 15       2022 01 01 서울 강남구
2  4       2022 01 01 서울 용산구
3  1       2022 01 01 서울 성동구

In [42]:
newdata <- newdata %>% select(13, 10:12, 4:9)
head(newdata, 3)

  지역        년   월 일 사고건수 사망자수 중상자수 경상자수 부상신고자수
1 서울 강남구 2022 01 01 9        0        1        14       0
2 서울 용산구 2022 01 01 4        0        1         3       0
3 서울 성동구 2022 01 01 1        0        1         0       0
  부상자수
1 15
2  4
3  1

In [43]:
str(newdata)

'data.frame':	57729 obs. of  10 variables:
 $ 지역        : chr  "서울 강남구" "서울 용산구" "서울 성동구" "서울 동대문구" ...
 $ 년          : chr  "2022" "2022" "2022" "2022" ...
 $ 월          : chr  "01" "01" "01" "01" ...
 $ 일          : chr  "01" "01" "01" "01" ...
 $ 사고건수    : int  9 4 1 2 5 3 1 2 3 2 ...
 $ 사망자수    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ 중상자수    : int  1 1 1 1 4 1 1 1 0 1 ...
 $ 경상자수    : int  14 3 0 1 1 2 1 1 4 1 ...
 $ 부상신고자수: int  0 0 0 0 0 0 0 1 0 0 ...
 $ 부상자수    : int  15 4 1 2 5 3 2 3 4 2 ...

In [44]:
summarise(newdata, mean(사고건수))

  mean(사고건수)
1 3.409655

In [45]:
summarise(newdata, n(), mean(사고건수), mean(부상자수), max(부상자수))

  n()   mean(사고건수) mean(부상자수) max(부상자수)
1 57729 3.409655       4.881481       75

In [46]:
summarise(newdata, 평균사고건수 = mean(사고건수), 평균부상자수 = mean(부상자수), 최대부상자수 = max(부상자수))

  평균사고건수 평균부상자수 최대부상자수
1 3.409655     4.881481     75

In [47]:
cb <- filter(newdata, grepl("충북", 지역)) 

table(cb$지역)

충북 괴산군 충북 단양군 충북 보은군 충북 영동군 충북 옥천군 충북 음성군
        149         118         111         113         103         279
충북 제천시 충북 증평군 충북 진천군 충북 청주시 충북 충주시
        309         119         246         365         343

In [48]:
grp <- group_by(cb, 지역)
summarise(grp, n(), mean(사고건수))

   지역        n() mean(사고건수)
1  충북 괴산군 149  1.261745
2  충북 단양군 118  1.245763
3  충북 보은군 111  1.207207
4  충북 영동군 113  1.176991
5  충북 옥천군 103  1.165049
6  충북 음성군 279  1.924731
7  충북 제천시 309  2.268608
8  충북 증평군 119  1.277311
9  충북 진천군 246  1.788618
10 충북 청주시 365 11.065753
11 충북 충주시 343  3.069971

In [49]:
grp <- group_by(cb, 지역)
summarise(grp, n(), 합계=sum(사고건수), 평균=mean(사고건수), 중앙값=median(사고건수), 최댓값=max(사고건수)) %>% arrange(desc(중앙값))

   지역        n() 합계 평균      중앙값 최댓값
1  충북 청주시 365 4039 11.065753 11.0   23
2  충북 충주시 343 1053  3.069971  3.0   12
3  충북 음성군 279  537  1.924731  2.0    6
4  충북 제천시 309  701  2.268608  2.0    7
5  충북 진천군 246  440  1.788618  1.5    7
6  충북 괴산군 149  188  1.261745  1.0    3
7  충북 단양군 118  147  1.245763  1.0    4
8  충북 보은군 111  134  1.207207  1.0    3
9  충북 영동군 113  133  1.176991  1.0    3
10 충북 옥천군 103  120  1.165049  1.0    3
11 충북 증평군 119  152  1.277311  1.0    3

In [50]:
list.files()

[1] "202121059-정보경-exercise-5.ipynb"
[2] "202121059-정보경-무작정 따라하기-5.ipynb"
[3] "2022년_도로교통공단_일자별 시군구별 교통사고 건수.csv"
[4] "2022년_서울_일별평균대기오염도_2022.csv"
[5] "air_2021.xlsx"

In [51]:
data <- read.csv("2022년_서울_일별평균대기오염도_2022.csv", fileEncoding="CP949")
head(data)

  측정일시 측정소명 이산화질소 오존  일산화탄소 아황산가스 미세먼지 초미세먼지
1 20220101 강남구   0.029      0.014 0.5        0.003      25       12
2 20220101 홍릉로   0.038      0.009 0.6        0.004      27       16
3 20220101 행주     0.034      0.012 0.7        0.004      27       16
4 20220101 항동     0.030      0.011 0.5        0.003      27       14
5 20220101 한강대로 0.037      0.011 0.6        0.003      34       14
6 20220101 청계천로 0.037      0.011 0.6        0.003      27       16

In [52]:
san <- data %>% filter(grepl("산$", 측정소명))
table(san$측정소명)

관악산   남산 북한산
   365    365    365

In [53]:
grp <- group_by(san, 측정소명)
summarise(grp, n(), mean(미세먼지, na.rm=T))

  측정소명 n() mean(미세먼지, na.rm = T)
1 관악산   365 29.32676
2 남산     365 28.80435
3 북한산   365 25.93803

In [54]:
grp <- group_by(san, 측정소명)
summarise(grp, sum(!is.na(미세먼지)), mean(미세먼지, na.rm=T))

  측정소명 sum(!is.na(미세먼지)) mean(미세먼지, na.rm = T)
1 관악산   355                   29.32676
2 남산     322                   28.80435
3 북한산   355                   25.93803

In [55]:
snu <- filter(san, 측정소명 == "관악산")
which(is.na(snu$미세먼지))
sum(is.na(snu$미세먼지))

 [1] 291 292 293 294 295 296 297 317 332 341

[1] 10

In [56]:
head(san[c(1,2,7)])

  측정일시 측정소명 미세먼지
1 20220101 북한산   18
2 20220101 남산     23
3 20220101 관악산   19
4 20220102 북한산   30
5 20220102 남산     29
6 20220102 관악산   31

In [57]:
san %>% select(1, 2, 7) %>% na.omit() %>% group_by(측정소명) %>% summarise(n(), mean(미세먼지))

  측정소명 n() mean(미세먼지)
1 관악산   355 29.32676
2 남산     322 28.80435
3 북한산   355 25.93803

In [58]:
library(dplyr)

In [59]:
newcyl <- select(mtcars, mpg, cyl)
head(newcyl, 3)

              mpg  cyl
Mazda RX4     21.0 6
Mazda RX4 Wag 21.0 6
Datsun 710    22.8 4

In [60]:
newcyl <- mtcars %>% select(mpg, cyl) 
head(newcyl)

                  mpg  cyl
Mazda RX4         21.0 6
Mazda RX4 Wag     21.0 6
Datsun 710        22.8 4
Hornet 4 Drive    21.4 6
Hornet Sportabout 18.7 8
Valiant           18.1 6

In [61]:
newcyl <- select(mtcars, mpg, cyl)
newcyl2 <- mutate(newcyl, mPc = mpg/cyl)
head(newcyl2, 3)

              mpg  cyl mPc
Mazda RX4     21.0 6   3.5
Mazda RX4 Wag 21.0 6   3.5
Datsun 710    22.8 4   5.7

In [62]:
newcyl <- mtcars %>% select(mpg, cyl) %>% mutate(mPc = mpg/cyl)
head(newcyl)

                  mpg  cyl mPc
Mazda RX4         21.0 6   3.500000
Mazda RX4 Wag     21.0 6   3.500000
Datsun 710        22.8 4   5.700000
Hornet 4 Drive    21.4 6   3.566667
Hornet Sportabout 18.7 8   2.337500
Valiant           18.1 6   3.016667

In [63]:
newcyl <- select(mtcars, mpg, cyl)
newcyl2 <- mutate(newcyl, mPc = mpg/cyl)
newcyl3 <- filter(newcyl2, mPc >= 3)
head(newcyl3, 3)

              mpg  cyl mPc
Mazda RX4     21.0 6   3.5
Mazda RX4 Wag 21.0 6   3.5
Datsun 710    22.8 4   5.7

In [64]:
mtcars %>% select(mpg, cyl) %>% mutate(mPc = mpg/cyl) %>% filter(mPc >= 3) %>% head()

               mpg  cyl mPc
Mazda RX4      21.0 6   3.500000
Mazda RX4 Wag  21.0 6   3.500000
Datsun 710     22.8 4   5.700000
Hornet 4 Drive 21.4 6   3.566667
Valiant        18.1 6   3.016667
Merc 240D      24.4 4   6.100000

In [65]:
library(pivottabler)
library(dplyr)

In [66]:
list.files()

[1] "202121059-정보경-exercise-5.ipynb"
[2] "202121059-정보경-무작정 따라하기-5.ipynb"
[3] "2022년_도로교통공단_일자별 시군구별 교통사고 건수.csv"
[4] "2022년_서울_일별평균대기오염도_2022.csv"
[5] "air_2021.xlsx"

In [67]:
data <- read.csv("2022년_서울_일별평균대기오염도_2022.csv", fileEncoding="CP949")
head(data)

  측정일시 측정소명 이산화질소 오존  일산화탄소 아황산가스 미세먼지 초미세먼지
1 20220101 강남구   0.029      0.014 0.5        0.003      25       12
2 20220101 홍릉로   0.038      0.009 0.6        0.004      27       16
3 20220101 행주     0.034      0.012 0.7        0.004      27       16
4 20220101 항동     0.030      0.011 0.5        0.003      27       14
5 20220101 한강대로 0.037      0.011 0.6        0.003      34       14
6 20220101 청계천로 0.037      0.011 0.6        0.003      27       16

In [68]:
news <- data %>% filter(grepl("강.구|중구", 측정소명)) %>% mutate(월=substr(측정일시, 5, 6)) %>% select(측정소명, 월, 초미세먼지)
head(news)

  측정소명 월 초미세먼지
1 강남구   01 12
2 중구     01 17
3 강서구   01 12
4 강북구   01 16
5 강동구   01 15
6 중구     01 27

In [69]:
any(is.na(news))

[1] FALSE

In [70]:
grp <- group_by(news, 측정소명)
summarise(grp, N = sum(!is.na(초미세먼지)), PM25평균 = mean(초미세먼지, na.rm = T))

  측정소명 N   PM25평균
1 강남구   365 17.60548
2 강동구   365 18.70411
3 강북구   365 18.33151
4 강서구   365 18.27123
5 중구     365 19.26575

In [71]:
news %>% group_by(월) %>% summarise(PM25평균=mean(초미세먼지))

   월 PM25평균
1  01 29.42581
2  02 25.57143
3  03 20.75484
4  04 21.79333
5  05 16.70323
6  06 12.42667
7  07 16.72258
8  08 11.65806
9  09 10.90000
10 10 13.50323
11 11 22.24000
12 12 20.01290

In [72]:
result <-qpvt(news, "월", "측정소명", "mean(초미세먼지)",formats = "%.2f")
result

       강남구    강동구    강북구    강서구    중구     Total
01     26.68  31.45  30.39  27.45  31.16  29.43
02     23.32  26.18  27.61  23.54  27.21  25.57
03     19.39  21.65  22.16  20.00  20.58  20.75
04     20.83  21.53  22.23  22.20  22.17  21.79
05     16.06  16.00  17.77  16.35  17.32  16.70
06     12.03  12.47  13.13  12.17  12.33  12.43
07     16.52  15.42  15.65  18.61  17.42  16.72
08     12.16  11.00  10.90  11.87  12.35  11.66
09     11.27   9.83   9.87  12.43  11.10  10.90
10     13.77  13.87  12.42  13.81  13.65  13.50
11     21.53  23.20  19.40  22.80  24.27  22.24
12     18.10  22.32  19.06  18.42  22.16  20.01
Total  17.61  18.70  18.33  18.27  19.27  18.44

In [73]:
san <- data %>% filter(grepl("산$", 측정소명)) %>% mutate(월=substr(측정일시, 5, 6)) %>% select(측정소명, 월, 미세먼지)

In [74]:
result <-qpvt(san, "월", "측정소명", "mean(미세먼지)",formats = "%-12.2f")
result

       관악산           남산            북한산           Total
01     35.71         NA            32.97         NA
02     35.68         NA            32.93         NA
03     38.52         40.23         36.61         38.45
04     42.37         NA            38.97         NA
05     32.97         30.87         28.23         30.69
06     21.50         19.10         NA            NA
07     22.16         20.65         20.48         21.10
08     14.29         15.77         15.29         15.12
09     20.47         19.80         13.50         17.92
10     NA            23.58         15.48         NA
11     NA            38.00         29.17         NA
12     NA            34.84         29.77         NA
Total  NA            NA            NA            NA

In [75]:
result <-qpvt(san, "월", "측정소명", "mean(미세먼지, na.rm=T)",formats = "%-12.2f")
result

       관악산           남산            북한산           Total
01     35.71         27.40         32.97         33.82
02     35.68         37.33         32.93         34.84
03     38.52         40.23         36.61         38.45
04     42.37         42.72         38.97         41.34
05     32.97         30.87         28.23         30.69
06     21.50         19.10         14.65         18.89
07     22.16         20.65         20.48         21.10
08     14.29         15.77         15.29         15.12
09     20.47         19.80         13.50         17.92
10     20.46         23.58         15.48         19.79
11     36.43         38.00         29.17         34.49
12     30.60         34.84         29.77         31.75
Total  29.33         28.80         25.94         28.00

In [76]:
san <- data %>% filter(grepl("산$", 측정소명)) %>% mutate(월=substr(측정일시, 5, 6)) %>% select(측정소명, 월, 미세먼지) %>% na.omit()

In [77]:
result <-qpvt(san, "월", "측정소명", "mean(미세먼지)",formats = "%-12.2f")
result

       관악산           남산            북한산           Total
01     35.71         27.40         32.97         33.82
02     35.68         37.33         32.93         34.84
03     38.52         40.23         36.61         38.45
04     42.37         42.72         38.97         41.34
05     32.97         30.87         28.23         30.69
06     21.50         19.10         14.65         18.89
07     22.16         20.65         20.48         21.10
08     14.29         15.77         15.29         15.12
09     20.47         19.80         13.50         17.92
10     20.46         23.58         15.48         19.79
11     36.43         38.00         29.17         34.49
12     30.60         34.84         29.77         31.75
Total  29.33         28.80         25.94         28.00

In [78]:
qpvt(san, "월", "측정소명", "n()")

       관악산  남산   북한산  Total
01      31    5   31     67
02      28   12   28     68
03      31   31   31     93
04      30   29   30     89
05      31   31   31     93
06      30   30   20     80
07      31   31   31     93
08      31   31   31     93
09      30   30   30     90
10      24   31   31     86
11      28   30   30     88
12      30   31   31     92
Total  355  322  355   1032